[package]
name = "codeowners-zed"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib"]

[dependencies]
zed_extension_api = "0.7.0"
